html {
	height: 100%;
	background-color: grey;
}
body {
	font-family: 'Odibee Sans';
	font-size: 2rem;
}
section {
	text-align: center;
}
h1,
.intro {
	margin-top: 8vh;
	align-items: center;
	text-align: center;
}

.outcome {
	align-items: center;
	text-align: center;
}

.wrapper {
	background-color: grey;
}

input {
	width: 2.5rem;
	height: 2.5rem;
}

.game-restart {
	align-items: center;
	text-align: center;
}

.game--container {
	display: grid;
	grid-template-columns: repeat(3, auto);
	width: 306px;
	margin: 50px auto;
}
.cell {
	font-family: 'Odibee Sans';
	width: 100px;
	height: 100px;
	box-shadow: 0 0 0 1px #333333;
	border: 1px solid #333333;
	cursor: pointer;
	line-height: 100px;
	font-size: 60px;
	align-items: center;
	text-align: center;
}

@media only screen and (max-width: 375px) and (max-height: 812px) {
	html {
		overflow: hidden;
	}

	body,
	h1 {
		margin-top: 8vh;
		align-items: center;
		text-align: center;
		font-size: 4rem;
	}

	.game--container {
		display: grid;
		grid-template-columns: repeat(3, auto);
		margin: 25px auto;
	}

	input {
		width: 3.5rem;
		height: 3.5rem;
		color: black;
		word-wrap: break-word;
	}

	.cell {
		width: 100px;
		height: 100px;
		line-height: 100px;
		font-size: 85px;
		box-shadow: 0 0 0 1px #333333;
		border: 1px solid #333333;
		align-items: center;
		text-align: center;
		/* !!!This line is required for touch to work on mobile!!! */
		cursor: pointer;
	}
	.board {
		display: grid;
		align-items: center;
		text-align: center;
	}
	.wrapper {
		align-items: center;
		text-align: center;
	}
}
